<%= simple_form_for @contact do |f| %>
<%= f.error_notification %>
<p>Call this contact something you'll remember (ie., Home Phone, Wife's Cell Phone)</p>
<%= f.input :name %>
<p>Pick the method by which you'd like to be contacted</p>
<ul>
  <li>PhoneNumber - We'll call your phone.</li>
  <li>TextMsg - We'll send a text to the number you provide.</li>
  <li>Email - Duh.. we'll send you an email</p>
</ul>
<%= f.select("type", options_for_select(Contact.select_options)) %><br />
<%= f.input :entry %><br />
<%= f.button :submit %>
<% end %>

